<form>
    <p>
        <label>Title</label>
        <input name="title" id="title" />
    </p>
    <p>
        <label>Request</label>
        <textarea name="request" id="request"rows="3"></textarea>
    </p>
    <p>
        <button appButton>
            Submit 
            <!--if a parent component has <ng-content select="icon">...</ng-content> 
            (or another selector that matches the string passed to ngProjectAs), 
            this span will be placed into that slot. 
            ngProjectAs is a compile-time hint for projection matching 
            and does not create a new element type or component. -->
            <span ngProjectAs="icon">⌲</span>
        </button>
    </p>
</form>