<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <button appButton>
          Logout
          <!--if a parent component has <ng-content select="icon">...</ng-content> 
            (or another selector that matches the string passed to ngProjectAs), 
            this span will be placed into that slot. 
            ngProjectAs is a compile-time hint for projection matching 
            and does not create a new element type or component. -->
          <span ngProjectAs="icon">→</span>
        </button> 
        <!-- extend the functionality of standard HTML buttons -->
      </li>
    </ul>
  </nav>
</header>